# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv/
.env/

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Google secrets
credentials.json
token.json

# Generated stuff
team_graphics/*.png
reports/*
